$compPro: 'pf_din_text_comp_proregular';
$compProMed: 'pf_din_text_comp_probold';
$flow: 'flowregular';
$bgButtons: #65baaf;
$colorMainText: #65baaf;
$colorSecondText: #ffffff;
$backgroundCommon: #ffffff;
$colorNavText: #242424;
$bgabout: #e8f4f3;
