<section class="greeting">
  <div class="container">
    <h3 class="title_greeting">Вітаємо на сайті<br>української фабрики програмістів</h3>
    <img src="./images/images/branches.png" alt="branches" class="logo_greeting">
    <div class="cupcake_box" data-atrebute="myRootGreeting">
      <img src="./images/images/cupcake.png" alt="cupcake" class="cupcake_greeting">
      <img src="./images/images/man.png" alt="man" class="man_greeting">
      <img src="./images/images/girl.png" alt="girl" class="girl_greeting">
    </div>
  </div>
</section>