<div class="backdrop" id="html">
  <div class="container">
    <div class="modal">
      <h5 class="title_modal">Переваги</h5>
      <div class="text_modal">
        <p class="benefits"><span class="subtitle_modal">HTML</span>
          має кілька переваг, які роблять його основною мовою для створення веб-контенту:</p>

        <p class="benefits"><span class="subtitle_modal">- Простота вивчення і використання:</span> HTML є досить
          простою
          мовою, яку можна легко
          вивчити. Він використовує зрозумілі теги
          та атрибути для визначення структури документа.</p>

        <p class="benefits"><span class="subtitle_modal">- Кросс-платформенність:</span> HTML підтримується практично
          всіма браузерами та платформами. Це дозволяє створювати веб-сайти,
          які будуть коректно відображатися на різних пристроях та в різних браузерах.</p>

        <p class="benefits"><span class="subtitle_modal">- Широкий спектр можливостей:</span>
          HTML не обмежується лише створенням текстового контенту. Він також дозволяє вбудовувати
          мультимедійні елементи, такі як зображення, відео та аудіо, а також створювати форми для збору даних.</p>

        <p class="benefits"><span class="subtitle_modal">- Сумісність з іншими технологіями:</span>
          HTML легко поєднується з іншими технологіями веб-розробки, такими як CSS (Cascading
          Style Sheets) для стилізації та JavaScript для надання динамічності сторінкам.</p>

        <p class="benefits"><span class="subtitle_modal">- Підтримка відкритих стандартів:</span>
          HTML є стандартом, прийнятим Консорціумом Всесвітньої павутини (W3C), що робить його
          відкритим та доступним для всіх.</p>

        <p class="benefits"><span class="subtitle_modal">- Індексованість пошуковими системами:</span>
          Індексованість пошуковими системами: Вміст, написаний на HTML, легше індексується пошуковими системами, що
          поліпшує SEO
          (оптимізацію для пошукових систем) веб-сторінок.</p>

        <p class="benefits"><span class="subtitle_modal">- Підтримка різних типів контенту: </span>
          HTML дозволяє вбудовувати різноманітний контент, такий як графіка, аудіо та відео, що
          забезпечує різноманітність на веб-сторінках.</p>

        <p class="benefits"><span class="subtitle_modal">- Активна спільнота та екосистема: </span>
          Існує велика активна спільнота веб-розробників, яка допомагає у вирішенні проблем та
          розвитку мови. Це також робить HTML стабільним та поширеним інструментом для розробки.</p>
        <p class="benefits">Загалом, HTML є ключовою складовою веб-розробки, і використання його дозволяє створювати
          доступні,
          кросс-платформенні та
          багатофункціональні веб-сайти.</p>
      </div>
    </div>
  </div>
</div>


<div class="backdrop" id="css">
  <div class="container">
    <div class="modal">
      <h5 class="title_modal">Переваги</h5>
      <div class="text_modal">
        <p>Ось кілька переваг використання<span class="subtitle_modal"> CSS</span> веб-розробкою:</p>

        <p class="benefits"><span class="subtitle_modal">- Відділення стилів від вмісту:</span> CSS дозволяє відділити
          стилі
          (вигляд і форматування) від HTML-структури веб-сторінок. Це полегшує зміну вигляду сторінки
          без внесення змін до самого контенту.</p>

        <p class="benefits"><span class="subtitle_modal">- Каскадність та спадковість:</span>
          Каскадність в CSS означає, що стилі можуть бути успадковані від одного елементу до іншого. Це дозволяє легко і
          систематично застосовувати стилі до різних елементів веб-сторінки.</p>

        <p class="benefits"><span class="subtitle_modal">- Легкість утримання:</span>
          Завдяки відокремленню стилів, CSS робить утримання веб-сайтів більш простим і ефективним. Зміни в дизайні
          можна
          вносити
          швидко та легко, не торкаючись вмісту.</p>

        <p class="benefits"><span class="subtitle_modal">- Можливості адаптації до різних пристроїв:</span>
          CSS пропонує можливості респонсивного дизайну, що дозволяє оптимізувати вигляд сторінки для різних розмірів
          екранів і
          пристроїв.</p>

        <p class="benefits"><span class="subtitle_modal">- Можливості анімації та переходів:</span>
          CSS дозволяє застосовувати анімації та переходи до різних елементів сторінки, що поліпшує візуальний ефект та
          взаємодію
          з користувачем.</p>

        <p class="benefits"><span class="subtitle_modal">- Широкий вибір стилів та властивостей:</span>
          CSS має велику кількість властивостей та значень, які дозволяють розробникам створювати різноманітні та
          стильні
          веб-сайти.</p>

        <p class="benefits"><span class="subtitle_modal">- Швидкість завантаження сторінок: </span>
          Використання зовнішніх CSS-файлів дозволяє кешувати стилі, що поліпшує швидкість завантаження сторінок та
          зменшує
          їхню
          вагу.</p>

        <p class="benefits">Загалом, CSS є потужним інструментом для розробників, який допомагає зробити веб-сторінки
          естетичними, легкими
          утриманням та придатними для використання на різних пристроях.</p>
      </div>
    </div>
  </div>
</div>


<div class="backdrop" id="js">
  <div class="container">
    <div class="modal">
      <h5 class="title_modal">Переваги</h5>
      <div class="text_modal">
        <p class="benefits">Ось кілька переваг використання<span class="subtitle_modal"> JavaScript</span> у
          веб-розробці:
        </p>

        <p class="benefits"><span class="subtitle_modal">- Клієнтська взаємодія:</span> JavaScript дозволяє розробникам
          створювати інтерактивні та динамічні елементи на сторінках, що поліпшує користувацький
          досвід. Наприклад, анімації, форми, перевірка валідності даних та взаємодія з елементами DOM (Document Object
          Model).</p>

        <p class="benefits"><span class="subtitle_modal">- Асинхронність:</span>
          JavaScript підтримує асинхронне програмування, що дозволяє виконувати завдання без блокування інших операцій.
          Це
          особливо важливо при роботі з великою кількістю операцій, таких як запити до сервера чи завантаження ресурсів.
        </p>

        <p class="benefits"><span class="subtitle_modal">- Розширені можливості обробки подій:</span>
          JavaScript дозволяє обробляти різноманітні події, такі як клік мишею, натискання клавіш, завантаження сторінки
          тощо. Це
          дозволяє реагувати на взаємодію користувача і створювати реактивні веб-сайти.</p>

        <p class="benefits"><span class="subtitle_modal">- Можливість використання на обидві боки:</span>
        <p class="option_branch">
          <span class="subtitle_modal">Клієнтський бік (Frontend):</span>JavaScript використовується для взаємодії з
          користувачем, маніпуляції DOM, анімацій та інших завдань, які відбуваються в
          браузері.
        </p>
        <p class="option_branch">
          <span class="subtitle_modal">Серверний бік (Backend):</span> З введенням платформи Node.js, JavaScript може
          використовуватися для створення серверної частини додатків, що дозволяє
          використовувати одну мову програмування для обох боків.
        </p>
        </p>

        <p class="benefits"><span class="subtitle_modal">- Широке сприйняття та спільнота:</span>
          JavaScript є однією з найпопулярніших мов програмування, і вона має велику активну спільноту розробників. Це
          забезпечує
          багато ресурсів, бібліотек та фреймворків, що полегшують розробку.</p>

        <p class="benefits"><span class="subtitle_modal">- Сумісність з іншими технологіями:</span>
          JavaScript легко поєднується з HTML і CSS, а також з іншими технологіями, такими як AJAX для асинхронної
          комунікації з
          сервером.</p>

        <p class="benefits"><span class="subtitle_modal">- Можливість створення односторінкових додатків (SPA): </span>
          JavaScript дозволяє створювати SPA, що полегшує навігацію та взаємодію користувача без повторного завантаження
          сторінок.</p>

        <p class="benefits">JavaScript є важливим інструментом для веб-розробки, і його використання дозволяє створювати
          сучасні, інтерактивні та
          ефективні веб-сайти.</p>
      </div>
    </div>
  </div>
</div>


<div class="backdrop" id="react">
  <div class="container">
    <div class="modal">
      <h5 class="title_modal">Переваги</h5>
      <div class="text_modal">
        <p class="benefits">Ось кілька переваг використання<span class="subtitle_modal"> React</span></p>

        <p class="benefits"><span class="subtitle_modal">- Компонентний підхід:</span> React базується на концепції
          компонентів, які є незалежними, повторно використовуваними блоками побудови. Це полегшує
          розробку, утримання та масштабування великих програмних проектів.</p>

        <p class="benefits"><span class="subtitle_modal">- Віртуальний DOM:</span>
          React використовує віртуальний DOM для ефективного оновлення сторінки. Віртуальний DOM дозволяє реагувати на
          зміни даних
          швидше, оскільки оновлення відбуваються в пам'яті, і лише змінені частини реального DOM переробляються.
        </p>

        <p class="benefits"><span class="subtitle_modal">- Односторінковий підхід (SPA):</span>
          React легко інтегрується з підходом "одна сторінка - один компонент", що дозволяє створювати швидкі та
          динамічні
          односторінкові додатки.</p>

        <p class="benefits"><span class="subtitle_modal">- Декларативний синтаксис:</span>
          React використовує декларативний підхід для визначення того, як виглядає інтерфейс у реактивному стані. Це
          полегшує
          відслідковування та розуміння коду.
        </p>

        <p class="benefits"><span class="subtitle_modal">- Єдина мова для клієнтського та серверного коду:</span>
          Якщо використовується Node.js, розробники можуть використовувати JavaScript як на клієнтському, так і на
          серверному боці
          (за допомогою, наприклад, платформи Express.js).</p>

        <p class="benefits"><span class="subtitle_modal">- Розширення за допомогою екосистеми:</span>
          React має широкий вибір бібліотек та інструментів, що дозволяє розробникам розширювати його функціональність
          та
          ефективність (наприклад, Redux для керування станом, React Router для навігації тощо).</p>

        <p class="benefits"><span class="subtitle_modal">- Динамічне оновлення стану: </span>
          Реакт дозволяє ефективно оновлювати стан компонентів та автоматично відображати зміни, що відбуваються в
          даних.
        </p>

        <p class="benefits"><span class="subtitle_modal">- Активна спільнота та підтримка: </span>
          React має велику та активну спільноту розробників, яка регулярно вносить внески у вигляд нових функцій,
          виправлень та
          рекомендацій.</p>

        <p class="benefits">React здобув популярність завдяки своїм ефективним інструментам, модульності та зручності
          використання, роблячи його
          однією з популярних технологій для розробки клієнтської частини веб-додатків.</p>
      </div>
    </div>
  </div>
</div>