footer {
  position: relative;
  .container {
    margin-top: 35px;
  }
  @media screen and (min-width: 1200px) {
    overflow: hidden;
  }
}
.border_top {
  margin-bottom: 64px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: -0%;
    transform: translateY(-50%);
    width: calc(40% - 20px);
    height: 2px;
    background: #cdcdcd;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    right: -0%;
    transform: translateY(-50%);
    width: calc(40% - 20px);
    height: 2px;
    background: #cdcdcd;
  }
  img {
    margin: auto;
  }
}
.address {
  position: relative;
  display: inline-block;
  @media screen and (max-width: 768px) {
    width: 100%;
  }
  .adress_img {
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      margin: auto;
      height: 300px;
    }
  }
}

address {
  position: absolute;
  z-index: 5;
  top: -55;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  width: 100%;
  padding: 0 40px;
  font-style: normal;
  @media screen and (min-width: 768px) {
    top: 16px;
  }
  a {
    text-decoration: none;
    color: #7d7d7d;
    font-size: 20px;
  }
  h5 {
    color: #c8a674;
    font-size: 22px;
    text-align: center;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media screen and (min-width: 768px) {
      padding-left: 80px;
    }
  }
  svg {
    fill: #7d7d7d;
    display: flex;
    align-items: center;
  }
}

.contact {
  width: 100%;
  a {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
.bread_with_egg {
  display: none;
  @media screen and (min-width: 1200px) {
    position: absolute;
    display: block;
    bottom: 7%;
    left: -25%;
    transition: all 1000ms ease;
    z-index: 2;
    &.is_loading {
      left: 0;
    }
  }
}
.bread_with_cheese {
  display: none;
  @media screen and (min-width: 1200px) {
    position: absolute;
    display: block;
    bottom: 30%;
    right: -25%;
    z-index: 2;
    transition: all 1000ms ease;
    &.is_loading {
      right: 0;
    }
  }
}
