.tytle_value {
  margin-bottom: 42px;
  font-family: $flow;
  font-size: 36px;
  color: #959595;
  line-height: 1.2;
}
.our_value {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.img_cup {
  display: inline-block;
  margin: auto;
}
.cup {
  margin-bottom: 42px;
}
.about_value {
  font-size: 24px;
  color: #7d7d7d;
  p {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}
.our_project {
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 42px;
}

.box_project {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  @media screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}
.switch_project {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 30px;
}
.border_progect {
  width: 100%;
  height: 50px;
  background-image: url('../images/images/border-project.png');
  background-position: center;
  background-repeat: repeat-x;
}
button[data-atribute='prev-switch'] {
  background-image: url(../images/images/arrow-prev.png);
  background-position: center;
  background-repeat: no-repeat;
  &:active {
    background-image: url(../images/images/arrow-prev-hover.png);
  }
}
button[data-atribute='next-switch'] {
  background-image: url(../images/images/arrow-next.png);
  background-position: center;
  background-repeat: no-repeat;
  &:active {
    background-image: url(../images/images/arrow-next-hover.png);
  }
}

.project_element {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
  border-left: 0px solid #c8a674;
  border-right: 0px solid #c8a674;
  border-top: 0px solid #c8a674;
  transition: border-right 200ms ease, border-left 200ms ease;
  border-radius: 10px;
  img {
    border-radius: 10px;
    width: 300px;
    height: auto;
  }
  &:hover p {
    border: none;
    @media screen and (max-width: 1199px) {
      padding-bottom: 1px;
    }
  }

  &:hover {
    border-left: 2px solid #c8a674;
    border-right: 2px solid #c8a674;
  }
}

.sign_project {
  border-bottom: 1px solid #959595;
  font-size: 24px;
  color: #7d7d7d;
  font-family: $flow;
  @media screen and (min-width: 1200px) {
    border-bottom: none;
  }
}

.show_at_project {
  margin-bottom: 60px;
}
