.product {
  display: none;
  @media screen and (min-width: 1200px) {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.title_product {
  margin-bottom: 42px;
  font-family: $flow;
  font-size: 36px;
  color: #959595;
  line-height: 1.2;
}
.box_product {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 50px;
  }
}
.book_product {
  position: relative;
  display: inline-block;
  opacity: 0;
  transform: scale(0.4);
  transition: all 1000ms ease;
  &.is_loading {
    opacity: 1;
    transform: scale(1);
  }
  .mark {
    position: absolute;
    display: inline-block;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    z-index: 5;
  }
}

.bookmark_product__logo {
  font-size: 18px;
  font-weight: 500;
  top: 6%;
  left: 18%;
}
.bookmark_product__home {
  font-size: 18px;
  font-weight: 500;
  top: 7%;
  left: 52%;
  transform: translateX(-50%);
}
.bookmark_product__privat {
  font-size: 18px;
  font-weight: 500;
  top: 7%;
  right: 19%;
}
.food_product {
  color: #7d7d7d;
  opacity: 0;
  transform: scale(0.4);
  transition: all 200ms ease;
  &.is_loading {
    opacity: 1;
    transform: scale(1);
  }
  img {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .tytle_food {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
  }
  .text_food {
    font-size: 18px;
    font-weight: 500;
  }
  @media screen and (min-width: 1200px) {
  }
}

.box_about_technique {
  position: absolute;
  overflow: hidden;
  top: 45%;
  right: 13%;
  width: 230px;
  min-height: 150px;
}
.box_technique {
  position: absolute;
  font-size: 0;
  width: calc((230px + 10px) * 5);
  transition: opacity 500ms ease;
  text-align: left;
  opacity: 1;
  left: 0;
  top: 0;
}

.about_technique {
  display: inline-block;
  text-align: left;
  width: 230px;
  padding-left: 10px;
  padding-right: 10px;
  color: #7d7d7d;
  line-height: 1.2;
  font-size: 16px;
  font-weight: normal;
  vertical-align: top;
  h4 {
    text-align: center;
    margin-bottom: 15px;
  }
  span {
    font-weight: 700;
  }
}
.about_language {
  font-size: 10px;
}
.box_switch_product {
  position: absolute;
  display: flex;
  gap: 10px;
  bottom: 65px;
  right: 15%;
  button {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #7d7d7d;
    font-size: 16px;
  }
}
.tytle_book {
  position: absolute;
  top: 21%;
  right: 22%;
  color: #caa977;
  font-size: 36px;
  text-align: center;
}
.prev_switch,
.next_switch {
  cursor: pointer;
  outline: none;
  border: none;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.prev_switch {
  padding-right: 65px;
  background-position: 100% 50%;
  background-image: url('../images/images/prev.png');
  &:active {
    background-image: url('../images/images/prev-hover.png');
  }
}
.next_switch {
  padding-left: 35px;
  background-position: 0 50%;
  background-image: url('../images/images/next.png');
  &:active {
    background-image: url('../images/images/next-hover.png');
  }
}
.details_product {
  position: absolute;
  bottom: 35px;
  left: 35%;
  color: #8f5926;
  font-size: 18px;
  cursor: pointer;
}
