@font-face {
  font-family: "flowregular";
  src: url("../fonts/Flow/flow-webfont.eot");
  src: url("../fonts/Flow/flow-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Flow/flow-webfont.woff2") format("woff2"), url("../fonts/Flow/flow-webfont.woff") format("woff"), url("../fonts/Flow/flow-webfont.ttf") format("truetype"), url("../fonts/Flow/flow-webfont.svg#flowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "pf_din_text_comp_probold";
  src: url("../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-bold-webfont.eot");
  src: url("../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-bold-webfont.woff2") format("woff2"), url("../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-bold-webfont.woff") format("woff"), url("../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-bold-webfont.ttf") format("truetype"), url("../fonts/PFDinTextCompPro-Medium/pfdintextcomppro-bold-webfont.svg#pf_din_text_comp_probold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "pf_din_text_comp_proregular";
  src: url("../fonts/PF Din Text Comp Pro-Thin/pfdintextcomppro-regular-webfont.eot");
  src: url("../fonts/PF Din Text Comp Pro-Thin/pfdintextcomppro-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/PF Din Text Comp Pro-Thin/pfdintextcomppro-regular-webfont.woff2") format("woff2"), url("../fonts/PF Din Text Comp Pro-Thin/pfdintextcomppro-regular-webfont.woff") format("woff"), url("../fonts/PF Din Text Comp Pro-Thin/pfdintextcomppro-regular-webfont.ttf") format("truetype"), url("../fonts/PF Din Text Comp Pro-Thin/pfdintextcomppro-regular-webfont.svg#pf_din_text_comp_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "pf_din_text_comp_proregular";
  font-style: normal;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.04em;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

body.is-scroll {
  overflow: hidden;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
  }
}
.button {
  padding: 12px 34px;
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 32px;
  text-align: center;
  font-family: "flowregular";
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 72px;
  }
}

.subtitle {
  text-align: center;
  font-size: 16px;
  font-family: "flowregular";
}
@media screen and (min-width: 768px) {
  .subtitle {
    font-size: 32px;
  }
}

header {
  padding-top: 170px;
  padding-bottom: 240px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../images/images/background-480.png");
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/images/background-480.png");
  background-size: contain;
  background-color: #e8f4f3;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  header {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/images/board-768.png");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/images/board-768.png");
  }
}
@media screen and (min-width: 1200px) {
  header {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/images/board.png");
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/images/board.png");
    background-repeat: repeat;
  }
}

.flag {
  position: absolute;
  bottom: 20px;
  left: 10%;
}

.greeting {
  padding-top: 36px;
}

.title_greeting {
  font-family: "flowregular";
  text-transform: uppercase;
  font-size: 36px;
  color: #959595;
  line-height: 1.2;
  margin-bottom: 50px;
}

.logo_greeting {
  display: none;
}
@media screen and (min-width: 768px) {
  .logo_greeting {
    display: block;
    margin: auto;
    margin-bottom: 80px;
  }
}

.cupcake_box {
  position: relative;
}
.cupcake_box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: calc(40% - 20px);
  height: 2px;
  background: #cdcdcd;
}
.cupcake_box:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: calc(40% - 20px);
  height: 2px;
  background: #cdcdcd;
}

.cupcake_greeting {
  margin: auto;
}

.man_greeting {
  display: none;
}
@media screen and (min-width: 1200px) {
  .man_greeting {
    position: absolute;
    display: block;
    bottom: -7px;
    left: -25%;
    z-index: 2;
    opacity: 0;
    -webkit-transition: left 1000ms ease, opacity 2000ms ease;
    transition: left 1000ms ease, opacity 2000ms ease;
  }
  .man_greeting.is_loading {
    left: 0;
    opacity: 1;
  }
}

.girl_greeting {
  display: none;
}
@media screen and (min-width: 1200px) {
  .girl_greeting {
    display: block;
    position: absolute;
    bottom: 45px;
    right: -25%;
    opacity: 0;
    -webkit-transition: right 1000ms ease, opacity 2000ms ease;
    transition: right 1000ms ease, opacity 2000ms ease;
  }
  .girl_greeting.is_loading {
    right: 0;
    opacity: 1;
  }
}

.product {
  display: none;
}
@media screen and (min-width: 1200px) {
  .product {
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.title_product {
  margin-bottom: 42px;
  font-family: "flowregular";
  font-size: 36px;
  color: #959595;
  line-height: 1.2;
}

@media screen and (min-width: 1200px) {
  .box_product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: flex;
    margin: auto;
    gap: 50px;
  }
}

.book_product {
  position: relative;
  display: inline-block;
  opacity: 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
.book_product.is_loading {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.book_product .mark {
  position: absolute;
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  z-index: 5;
}

.bookmark_product__logo {
  font-size: 18px;
  font-weight: 500;
  top: 6%;
  left: 18%;
}

.bookmark_product__home {
  font-size: 18px;
  font-weight: 500;
  top: 7%;
  left: 52%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.bookmark_product__privat {
  font-size: 18px;
  font-weight: 500;
  top: 7%;
  right: 19%;
}

.food_product {
  color: #7d7d7d;
  opacity: 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
.food_product.is_loading {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.food_product img {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.food_product .tytle_food {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
}
.food_product .text_food {
  font-size: 18px;
  font-weight: 500;
}
.box_about_technique {
  position: absolute;
  overflow: hidden;
  top: 45%;
  right: 13%;
  width: 230px;
  min-height: 150px;
}
.box_about_technique ul {
  position: absolute;
  font-size: 0;
  width: 1200px;
  -webkit-transition: left 250ms ease;
  transition: left 250ms ease;
  text-align: left;
  left: 0;
  top: 0;
}

.about_technique {
  display: inline-block;
  text-align: left;
  width: 230px;
  padding-left: 10px;
  padding-right: 10px;
  color: #7d7d7d;
  line-height: 1.2;
  font-size: 16px;
  font-weight: normal;
  vertical-align: top;
}
.about_technique h4 {
  text-align: center;
  margin-bottom: 15px;
}
.about_technique span {
  font-weight: 700;
}

.about_language {
  font-size: 10px;
}

.box_switch_product {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  bottom: 65px;
  right: 15%;
}
.box_switch_product button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #7d7d7d;
  font-size: 16px;
}

.tytle_book {
  position: absolute;
  top: 21%;
  right: 22%;
  color: #caa977;
  font-size: 36px;
  text-align: center;
}

.prev_switch,
.next_switch {
  cursor: pointer;
  outline: none;
  border: none;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

.prev_switch {
  padding-right: 65px;
  background-position: 100% 50%;
  background-image: url("../images/images/prev.png");
}
.prev_switch:active {
  background-image: url("../images/images/prev-hover.png");
}

.next_switch {
  padding-left: 35px;
  background-position: 0 50%;
  background-image: url("../images/images/next.png");
}
.next_switch:active {
  background-image: url("../images/images/next-hover.png");
}

.details_product {
  position: absolute;
  bottom: 35px;
  left: 35%;
  color: #8f5926;
  font-size: 18px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3137254902);
  z-index: 10;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  padding-top: 42px;
  overflow-y: scroll;
  font-family: "flowregular";
  font-size: 20px;
  color: #959595;
  line-height: 1.2;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
}
.backdrop.is_open {
  pointer-events: all;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

.modal {
  position: relative;
  width: 80%;
  display: inline-block;
  background: #ffffff;
  border-radius: 30px;
  padding: 32px 16px;
}

.title_modal {
  font-size: 36px;
  margin-bottom: 32px;
}

.text_modal {
  text-align: left;
}

.subtitle_modal {
  font-weight: bold;
}

.benefits {
  margin-top: 20px;
  text-align: left;
}

.option_branch {
  text-indent: 30px;
  margin-top: 20px;
  text-align: left;
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  -webkit-transform: translate(-20px, 20px);
          transform: translate(-20px, 20px);
  border: none;
  outline: none;
  background: url("../images/svg/closeMenu.svg") center no-repeat;
  cursor: pointer;
}

section.benefits {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  background: #e8f4f3;
}

.tytle_product {
  font-size: 36px;
  color: #959595;
  line-height: 1.2;
  text-align: center;
  font-family: "flowregular";
  margin-top: 35px;
  margin-bottom: 45px;
}

.img_chery {
  display: none;
}
@media screen and (min-width: 1200px) {
  .img_chery {
    position: absolute;
    display: block;
    background: #ffffff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 5px;
    top: -8px;
    right: 50%;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .box_our_benefits {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 125px;
  }
}

.our_benefits {
  position: relative;
  margin-bottom: 32px;
  padding-top: 145px;
  background-image: url("../images/images/background-for-lable.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  width: 155px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.our_benefits:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 25%;
}
.our_benefits:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .our_benefits {
    margin: 0;
  }
}

.our_benefits:first-child::before {
  background-image: url(../images/images/popkorn.png);
}

.our_benefits:nth-child(2)::before {
  background-image: url(../images/images/lable.png);
}

.our_benefits:nth-child(3)::before {
  background-image: url(../images/images/popkorn.png);
}

.our_benefits:nth-child(4)::before {
  background-image: url(../images/images/cup.png);
}

.benefits_text {
  font-size: 20px;
  color: #915b27;
}

.wood {
  display: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}
@media screen and (min-width: 1200px) {
  .wood {
    position: absolute;
    display: block;
    top: 0;
    right: -25%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .wood.is_loading {
    right: 0;
  }
}

.tytle_value {
  margin-bottom: 42px;
  font-family: "flowregular";
  font-size: 36px;
  color: #959595;
  line-height: 1.2;
}

.our_value {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.img_cup {
  display: inline-block;
  margin: auto;
}

.cup {
  margin-bottom: 42px;
}

.about_value {
  font-size: 24px;
  color: #7d7d7d;
}
.about_value p {
  margin-top: 42px;
  margin-bottom: 42px;
}

.our_project {
  margin: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 42px;
}

.box_project {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .box_project {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
  }
}

.switch_project {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: 40px;
  height: 30px;
}

.border_progect {
  width: 100%;
  height: 50px;
  background-image: url("../images/images/border-project.png");
  background-position: center;
  background-repeat: repeat-x;
}

.project_element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  position: relative;
  border-left: 0px solid #c8a674;
  border-right: 0px solid #c8a674;
  border-top: 0px solid #c8a674;
  -webkit-transition: border-right 200ms ease, border-left 200ms ease;
  transition: border-right 200ms ease, border-left 200ms ease;
  border-radius: 10px;
}
.project_element img {
  border-radius: 10px;
  width: 300px;
  height: auto;
}
.project_element:hover p {
  border: none;
}
@media screen and (max-width: 1199px) {
  .project_element:hover p {
    padding-bottom: 1px;
  }
}
.project_element:hover {
  border-left: 2px solid #c8a674;
  border-right: 2px solid #c8a674;
}

.sign_project {
  border-bottom: 1px solid #959595;
  font-size: 24px;
  color: #7d7d7d;
  font-family: "flowregular";
}
@media screen and (min-width: 1200px) {
  .sign_project {
    border-bottom: none;
  }
}

.show_at_project {
  margin-bottom: 60px;
}

footer {
  position: relative;
}
footer .container {
  margin-top: 35px;
}
@media screen and (min-width: 1200px) {
  footer {
    overflow: hidden;
  }
}

.border_top {
  margin-bottom: 64px;
  position: relative;
}
.border_top:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: calc(40% - 20px);
  height: 2px;
  background: #cdcdcd;
}
.border_top:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: calc(40% - 20px);
  height: 2px;
  background: #cdcdcd;
}
.border_top img {
  margin: auto;
}

.address {
  position: relative;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .address {
    width: 100%;
  }
}
.address .adress_img {
  display: none;
}
@media screen and (min-width: 768px) {
  .address .adress_img {
    display: block;
    margin: auto;
    height: 300px;
  }
}

address {
  position: absolute;
  z-index: 5;
  top: -55;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: left;
  width: 100%;
  padding: 0 40px;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  address {
    top: 16px;
  }
}
address a {
  text-decoration: none;
  color: #7d7d7d;
  font-size: 20px;
}
address h5 {
  color: #c8a674;
  font-size: 22px;
  text-align: center;
}
address ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  address ul {
    padding-left: 80px;
  }
}
address svg {
  fill: #7d7d7d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact {
  width: 100%;
}
.contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.bread_with_egg {
  display: none;
}
@media screen and (min-width: 1200px) {
  .bread_with_egg {
    position: absolute;
    display: block;
    bottom: 7%;
    left: -25%;
    -webkit-transition: all 1000ms ease;
    transition: all 1000ms ease;
    z-index: 2;
  }
  .bread_with_egg.is_loading {
    left: 0;
  }
}

.bread_with_cheese {
  display: none;
}
@media screen and (min-width: 1200px) {
  .bread_with_cheese {
    position: absolute;
    display: block;
    bottom: 30%;
    right: -25%;
    z-index: 2;
    -webkit-transition: all 1000ms ease;
    transition: all 1000ms ease;
  }
  .bread_with_cheese.is_loading {
    right: 0;
  }
}/*# sourceMappingURL=style.css.map */